<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{recipe.label}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="bookmark()">
        <ion-icon name="{{bookmarkicon}}"></ion-icon>
  
      </ion-button>
      
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <img id="card-img" [src]="recipe.image01"/>

    <ion-row id="recipe-info">
        <ion-col>
            <ion-icon class="recipe-info-icon" name="time"><span class="recipe-info-label"></span></ion-icon> <label>{{recipe.cooktime}} </label>الطهو
        </ion-col>
        <ion-col>
            <ion-icon class="recipe-info-icon" name="timer"><span class="recipe-info-label"></span></ion-icon> <label> {{recipe.preptime}}</label> وقت التحضير
        </ion-col>
        <ion-col>
            <ion-icon class="recipe-info-icon" name="body"><span class="recipe-info-label"></span></ion-icon> <label>{{recipe.servings}} </label> الاشخاص
        </ion-col>                
    </ion-row>

    <h2 id="title-recipe">{{recipe.title}}</h2>

    <div>
        <ion-segment [(ngModel)]="taprecipe">
            <ion-segment-button value="ingredients">
                المقادير
            </ion-segment-button>
            <ion-segment-button value="method">
                الخطوات
            </ion-segment-button>
            <ion-segment-button value="note" *ngIf="recipe.note">
                إقتراحات
            </ion-segment-button>                        
        </ion-segment>
    </div>

    <div [ngSwitch]="taprecipe">
        <ion-list *ngSwitchCase="'ingredients'">
            <ion-item  text-wrap>
                <ion-badge item-left>
                    {{recipe.ingredient.qyt}}
                </ion-badge>
                <h4>{{recipe.ingredient.ingredient}}</h4>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'method'">
            <ion-item text-wrap>
                <ion-badge item-left>
                    {{recipe.steps.oorder}}
                </ion-badge>
                <h4>{{recipe.steps.method}}</h4>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'note'">
            <ion-item text-wrap>
                <h4>{{recipe.note}}</h4>
            </ion-item>
        </ion-list>                
    </div>


</ion-content>

