#recipe-info {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    font-size: 12px;
}

#card-img {
    height: 250px;
    width: 100%;
}

.recipe-info-label {
    font-family: DroidKufi-Regular;
    font-size: 13px;
    color: warning;
}

ion-icon {
    font-size: 20px;
}

label{
    font-size: 20px; 
}

.recipe-info-icon {
    color : warning;
}

#title-recipe {
    font-family: DroidKufi-Bold;
    font-size: 16px;
}

ion-segment-button {
    font-family: DroidKufi-Bold;
}

ion-title{
    font-family: DroidKufi-Bold;
  }
  
  label{
    font-family: DroidKufi-Bold;
  }