.card-background-page {
    ion-card {
        position: relative;
        width: 100%;
    }

    ion-card-title {
        font-family: DroidKufi-Bold;
        font-size: 12px;
    }

    .card-image {
        height: 188px;
        display: block;
        width: 100%;
    }

    .card-recipes-info {
        position: absolute;
        top: 0;
        left: 5px;
        list-style: none;
        text-align: center;
        font-size: 12px;
        color: #fff;
    }

    .card-recipes-info li {
        display: inline-block;
        position: relative;
        background: rgba(0,0,0,0.33);
        border-radius: 5px;
        padding: 5px;
        height: 25px;
        line-height: 16px;
        margin: 0 auto;
    }

}

ion-title{
    font-family: DroidKufi-Bold;
  }
  
  label{
    font-family: DroidKufi-Bold;
  }